@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=VT323&family=Work+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

h1{
    font-weight: bold;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
}

p{
    font-size: 0.5rem;
}

/*******************
HEADER AND SEARCH
*******************/

header{
    width: 100%;
    background-color: #222222;
    padding: 1rem;
}

#nav-image-div{
    background-color: #c78c06;
}

header li{
    list-style: none;
    text-align: center;
}

.nav-bar{
    padding: 0.5rem;
    font-size: 0.7rem;
}

.nav-bar a{
    text-decoration: none;
    color: #c78c06;
}

#nav-home{
    background-color: #c78c06;
}

#nav-home a{
    color: #222222;
}

#nav-search{
    width: 90%;
    padding: 0.2rem;
    font-size: 0.7rem;  
}

.material-symbols-outlined{
    color: #c78c06;
}

/*******************
WELCOME
*******************/

.welcome-image{
    width: 100%;
}

.welcome-inner-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    padding: 1rem;
}

.welcome-inner-div h1{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.welcome-button{
    margin-top: 0.6rem;
    height: 3rem;
    width: 7rem;
    font-size: 0.7rem;
    background-color: #c78c06;
    border-style: none;
}

/*******************
ABOUT US
*******************/

.about{
    background-color: #FFE6AC;
    padding: 0.5rem;
}

.about-image{
    width: 100%;
}

.about h2{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.about p{
    padding-bottom: 0.7rem;
}

/*******************
OUR SERVICES SECTION
*******************/

.services{
    padding: 0.5rem;
    padding-top: 1.5rem;
}

.services h1{
    font-size: 1.7rem;
}

.services-sub-div{
    background-color: #FFE6AC;
    margin-top: 0.5rem;
}

.services-sub-image{
    width: 100%;
}

.services-sub-div p, .services-sub-title, .services-sub-button{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.services-sub-title{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.services-sub-button{
    margin-top: 0.6rem;
    height: 3rem;
    width: 7rem;
    font-size: 0.7rem;
    background-color: black;
    border-style: none;
    color: white;
    margin-bottom: 0.5rem;
}

/*******************
OUR VISION SECTION
*******************/

.vision-image{
    width: 100%;
    margin-top: 0.6rem;
    height: 10rem;
}

.vision {
    position: relative;
    color: white;
}

.vision-inner-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    padding: 1rem;
}

.vision-inner-div h2{
    margin-bottom: 0.5rem;
}

.vision-button{
    margin-top: 0.5rem;
    height: 3rem;
    width: 7rem;
    font-size: 0.7rem;
    background-color: #222222;
    color: white;
    border-style: none;
    border: 1px solid #c78c06;
}

/*******************
OUR TEAM SECTION
*******************/

.team{
    padding: 0.5rem;
    margin-top: 0.6rem;
}

.team h1{
    font-size: 1.7rem;
}

.team-sub-div{
    background-color: #FFE6AC;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
}

.team-sub-image{
    width: 100%;
}

.team-sub-div p, .team-sub-title-one, .team-sub-title-two{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.team-sub-title-one{
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

.team-sub-title-two{
    font-size: 0.7rem;
    font-weight: bold;
    border-bottom: 0.1px solid black;
}

.team-sub-div p{
    margin-top: 0.5rem;
}

/*******************
CONTACT US
*******************/

.info{
    padding: 0.5rem;
    margin-top: 1rem;
}

.info h1{
    font-size: 1.7rem;
}

.info-sub-title{
    font-size: 1rem;
    margin-top: 0.8rem;
}

.info-message-form{
    margin-top: 0.5rem;
}

.form-text{
    font-size: 0.5rem;
    margin-top: 0.2rem;
}

.form-text input{
    width: 100%;
    margin-top: 0.2rem;
}

#message{
    height: 5rem;
}

#send{
    margin-top: 0.8rem;
    font-size: 0.5rem;
    width: 2.5rem;
    height: 1rem;
    background-color: black;
    color: #c78c06;
    border-style: none;
}

.info-hours-table{
    border-collapse: collapse;
    margin-top: 0.5rem;
    font-size: 0.6rem;
    width: 100%;
}

.info-hours-table th, td{
    border: 1px solid black;
    padding: 0.5rem;
}

.info-hours-table th{
    background-color: #FFE6AC;
}

.info-location-map{
    margin-top: 0.5rem;
    width: 100%;
    height: 20rem;
}

/*******************
FOOTER
*******************/

footer{
    background-color: #222222;
    height: 5rem;
    color: #c78c06;
    padding: 1rem;
}

footer p{
    margin-bottom: 0.4rem;
}

footer a{
    color: #c78c06;
}