body {
    font-size: 18px;
}

header, footer {
    background-color: rgb(87, 124, 152);
}

.site-title { /* Class */
    color: rgb(237, 237, 237);
}

#my-image { /* Id */ 
    box-shadow: 0px 0px 2px 1px black;
}

ul{
    list-style-type: square;
}

li:nth-child(1) {
    background-color: rgb(132, 179, 132); 
}
li:nth-child(3) {
    background-color: rgb(225, 127, 179);
}

a {
    text-decoration: none;
}

nav {
    background-color: rgb(255, 222, 160);
    border-style: double; 
    border-color: orange;
}

a:link {
   color: black;
}

a:visited {
    color: rgb(81, 140, 177);
}

a:hover {
    color:white
}

a:active {
    color: orchid
}
