header{
    background-color: #222;
    width: 50%;
    margin: auto;
}

article{
    background-color:white;
    width: 50%;
    margin: auto;
}


@media all and (min-width: 200px)
    .welcome-image{
    display: none;
    }

nav{
    justify-content: space-between;
    margin-left: 40%;
}


